/* 
background-color: lightslategray;
'Amatic SC', cursive;
#FFFF00 yellow 
#FAFAD2 gold */


* {
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    color: #8DAFCE;
}

body {
    background-color: lightslategray;
    font-family: 'Amatic SC', cursive;
    border: 5px solid whitesmoke;
    text-align: center;
}
/**********Heading*********/

h1 {
    color: white;
    font-size: 100px;
    text-align: center;
    width:auto;
    height:auto;
    padding: 10px;
}
span {
    color: #FFFF00;
}

/********* h2 **********/

.Description {
    font-size: 35px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}
/***********Links**********/

a:link {
    text-decoration: none;
 }

 a:visited {
    color: pink;
 }

 a:hover {
    color: #FFFF00;
 }

 
 .links {
    height: auto;
    width: auto;
    background-color: lightslategray; 
 }

 .links nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 8%;
    padding-right: 8%;
    font-weight: bold;
    font-size: xx-large;
 }
    
/***********H3 and about me******/

h3 {
    color: darkslategray;
    margin-bottom: 20px;
}

.test-class {
    padding-top: 5%;
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: #FFFF00;
}

.me {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    margin: 1px;
    text-align: center;
}

.me span {
   color: #FFFF00;
}

.me > p {
    color: white;
}

.intro {
    color: slategray;
    text-align: center;
    position: relative;
}
.intro button {
    padding: 40px 80px;
    background-color: pink;
    color: black;
    border-color: white;
    border-radius: 10px;
    border: 8%;
    box-shadow: 10px 10px 10px;
}

.intro span {
    color: #FFFF00;
} 

.intro > h2 {
    color: white;
    margin: 10px 0px 10px;
    font-size: 35px;
    text-align: center
}

h2 + h3 {
    color: white;
    margin: 5px 0px 20px;
    font-size: 35px;
}

h3 ~ span {
    color: #FFFF00;
}

h4 {
    color: #FFFF00;
    font-size: 35px;
    margin-top: 3%;

}

h4 ~ a:link {
    font-size:large;
    color: white;
}

/******** main image (portrait) *****/

#portrait {
    max-width: 100%;
    height: auto;
    mix-blend-mode: multiply;
    box-shadow: 20px 20px 20px;
    border-radius: 50%;
}
#brother {
    display: block;
    padding-top: 2%;
    width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/****** future plans******/
#current {
    font-weight: bolder;
    position: relative;
    font-size: 30px;
    float: right;
    padding-top: 3%;
    padding-right: 2%;
}
#current h3 {
    color: white;
}

#current p {
    position: relative;
    color: white;
    text-align: center;
}

p ~ p {
    text-align: center;
}



/******projects********/

.projects {
    padding-top: 1%;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 0px;
}
.projects p {
    margin-top: 10px;
    color: white;
}

/********project boxes*****/

.project-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#box1 {
  background-color: pink;
  color: black;
  width: 200px;
  height: 200px;
  border: 10px solid white;
  border-radius: 5%;
  padding: 50px;
  margin: 20px;
  box-shadow: 5px 5px 5px;
}
#box1:hover  {
    color:#FFFF00;
}
#box2:hover  {
    color:#FFFF00;
}
#box3:hover  {
    color:#FFFF00;
}

#box2 {
    background-color: pink;
    color: black;
    width: 200px;
    height: 200px;
    border: 10px solid white;
    border-radius: 5%;
    padding: 50px;
    margin: 20px;
    box-shadow: 5px 5px 5px;
}

  #box3 {
    background-color: pink;
    color: black;
    width: 200px;
    height: 200px;
    border: 10px solid white;
    border-radius: 5%;
    padding: 50px;
    margin: 20px;
    box-shadow: 5px 5px 5px;
  }

  #box1 p, #box2 p, #box3 p {
    color: white;
    font-size: 30px;
    font-weight: 900;
  }

/********* Hero *********/

.hero {
    position: relative;
    font-size: x-large;
    text-align: left;
    padding-left: 10%;
    padding-top: 2%;
}
.hero > nav {
    padding-right: 5px;
    display: inline-block;
    padding-bottom: 5%;
}

/*******Lists*******/

.goals {
    position: relative;
    color: #FFFF00;
    font-size: xx-large;
}

.goals li {
    color: white;
    list-style: none;
}

li::before {
    content: "\2022";
    color: #FFFF00;
}

.future {
    position: relative;
    font-size: x-large;
    text-align:left;
    padding-left: 10%;
}

.future ~ li {
    flex: auto;
}

.twelve {
    flex-direction: column;
    color: #FFFF00;
    font-size: xx-large;
}

li {
    flex-direction: column;
    color: white;
    list-style: none;
}

li::before {
    content: "\2022";
    color: #FFFF00;
}


/*******contact section******/

.contact {
    position: relative;
    color: white;
    font-size: larger;
    padding-top: -300px;
    top: 50px;
    text-align: center;
}

.contact > p {
    color: white;
    font-size: 30px;
}

#contactMe {
    font-size: 50px;
    color: white;
}


/**********registration form*****/

.registration {
    position: flex;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.registration p {
    color: white;
    font-size: 25px;
    margin: 10px 0;
}

.registration input {
    padding: 1%;
    font-size: 20px;
    width: 90%;
    color: black;
    border-radius: 5px;
}

.registration button {
    font-size: larger;
    color: black;
    font-weight: bold;
    margin: 10px 0;
}

form {
    display: inline-block;
}

.form > legend {
    text-align: left;
    margin-left: 10px;
    padding-left: 5px;
    color: white;
}

/********* comments box******/

textarea {
    display: block;
    height: 200px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4px;
    margin-bottom: 0;
    background-color: pink;
    color: black;
    border-color: white;
    border-width: 5px;
    font-size: x-large;
    border-radius: 10px;
    text-align: center;
    line-height: normal;
    box-shadow: 10px 10px 10px;
}

/******* footer *******/

#footer {
    color: #FFFF00;
    font-size: x-large;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 2px;
    padding-top: 5%;
}