/* 'Amatic SC', cursive;
#FFFF00 yellow 
#FAFAD2 gold */


* {
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    color: #8DAFCE;
}

body {
    background-color: lightslategray;
    font-family: 'Amatic SC', cursive;
    border: 5px solid whitesmoke;
}
/**********Heading*********/

h1 {
    color: white;
    font-size: 100px;
    text-align: center;
    width:auto;
    height:auto;
    padding: 10px;
}
span {
    color: #FFFF00;
}

/********* h2 **********/

.Description {
    font-size: 35px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}
/***********Links**********/

a:link {
    text-decoration: none;
 }

 a:visited {
    color: black;
 }

 a:hover {
    color: #FFFF00;
 }

 
 .links {
    height: auto;
    width: auto;
    background-color: lightslategray; 
 }

 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 8%;
    padding-right: 8%;
    font-weight: bold;
    font-size: xx-large;
 }
    

/*******Photo of Me********/

.ben {
    height:auto;
    width:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/***********H3 and about me******/

h3 {
    color: darkslategray;
}

.test-class {
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: #FFFF00;
}

.me {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    margin: 1px;
    text-align: center;
}

.me span {
   color: #FFFF00;
}

.me > p {
    color: white;
}

.intro {
    color: slategray;
    text-align: center;
    position: relative;
}

.intro span {
    color: #FFFF00;
} 

.intro > h2 {
    color: white;
    margin: 10px 0px 10px;
    font-size: 35px;
    text-align: center;
}

h2 + h3 {
    color: white;
    margin: 5px 0px 5px;
    font-size: 35px;
}

h3 ~ span {
    color: #FFFF00;
}

h4 {
    color: #FFFF00;
    margin-bottom: 10px;
    font-size: 35px;
}

h4 ~ a:link {
    font-size:large;
}

#banner {
    display: inline-block;
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
}

#portrait {
    display: block;
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    mix-blend-mode: multiply;
    box-shadow: 20px 20px 20px;
}

.arrow {
    display: inline-block;
    height:auto;
    width:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
}
#banner {
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
}
#arrow {
    position: relative;
    display: block;
    width: 50%;
    height: auto;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    mix-blend-mode: multiply;
    top: -250px;
}

/********* Hero *********/

.hero {
    font-size: x-large;
    text-align: left;
    padding-left: 1px;
    padding-top: 7%;
}
.hero > nav {
    padding-right: 5px;
    display: inline-block;
}
.goals {
    color: #FFFF00;
    font-size: xx-large;
}

.goals li {
    color: white;
    list-style: none;
}

li::before {
    content: "\2022";
    color: #FFFF00;
}

.future {
    display: inline-block;
    position: relative;
    bottom: 540px;
    font-size: x-large;
    text-align: left;
    padding-left: 70%;
    right: auto;
}

.twelve {
    color: #FFFF00;
    font-size: xx-large;
}

li {
    color: white;
    list-style: none;
}

li::before {
    content: "\2022";
    color: #FFFF00;
}

#footer {
    color: #FFFF00;
    font-size: x-large;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 2px;
    padding: 0;
}

.contact {
    position: relative;
    color: white;
    font-size: larger;
    padding-top: -100px;
    top: -400px;
    text-align: center;
}

.contact > p {
    color: white;
    font-size: 30px;
}

#contactMe {
    font-size: 50px;
    color: white;
}

.form > legend {
    text-align: left;
    margin-left: 10px;
    padding-left: 5px;
    color: white;
}
textarea {
    display: block;
    height: 300px;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -350px;
    margin-bottom: 0;
    background-color: #FFFF00;
    color: black;
    border-color: white;
    border-width: 5px;
    font-size: x-large;
    border-radius: 10px;
    text-align: center;
    line-height: normal;
}
button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 50px;
    width: 200px;
    margin-top: 3px;
    border-width: 5px;
    border-radius: 10px;
    border-color: white;
    background-color: #FFFF00;
    font-size: x-large;
    font-weight: 800;
    color: black;

}
